body {
    height: 100vh;
    overflow-x: hidden;
}
.search button {
    width: 3rem;
    height: 3rem;
    /* border: 2px solid red; */
    background-color: transparent;
}

.search button img  {
   width: 2rem;
}

.humidity,
.wind {
    font-size: 1.3rem;
}

.details  {
    margin-top: 30px;
    width: 24rem;
    /* margin-left: -3rem; */
}

.col img {
    width:2rem;
    margin-right: 10px;
}

.weather-icon {
    margin-top: 10px;
}

